name: Test
on:
  push:
  pull_request:
jobs:
  is_release:
    runs-on: ubuntu-latest
    outputs:
      type: ${{ steps.get_type.outputs.type }}
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: get_type
        run: echo $( git tag --points-at HEAD | grep -q -e '^v' && echo 'type=::release::' || echo "type=::norelease::" ) >> "$GITHUB_OUTPUT"
  test:
    needs: [is_release]
    if: ${{ needs.is_release.outputs.type == '::norelease::' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      # Note, test in `./test/options` require SSH to pass the LANG env variable
      # However, I failed to enable it
      # Paliative solution is to pass the CI_DISABLE_SSH_ENV var to disable testing
      - run: sudo apt install -y openssh-server && sudo sed -E -i 's|^#?(PermitUserEnvironment)\s.*|\1 yes|' /etc/ssh/sshd_config && sudo systemctl start ssh
      - run: ssh-keygen -t ed25519 -f ~/.ssh/id_ed25519 -N ''
      - run: cat ~/.ssh/id_ed25519.pub > ~/.ssh/authorized_keys
      - run: npm ci
      - run: CI_DISABLE_SSH_ENV=1 yarn run test
